
.vertical-margin{
  margin: 10px 0;
}
.block{
  display: block;
}
.flex{
  display: flex;
  justify-content: flex-start;
}
.left-margin{
  margin-left:10px;
}
.bp5-icon > svg:not([fill]) {
  fill: #ac2f33;
}
.center-align{
  text-align: center;
}